@charset "UTF-8";
header{
    background-color: #051726; 
}
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  ol{
    margin: 30px 0px;
  }
  li{
    margin: 15px 0px;
    font-size: 1.3em;
    list-style-position: inside;
  }