@charset "UTF-8";
body{
   background-color: rgb(235, 230, 230);
   height: 2000px;
}
header{
    margin-bottom: 20px;
    background-color: #06a11e;
    padding: 10px 0px 20px 0px;
    color: white;
    font-size: 0.8em;
}
img{
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    display: block;
    margin: 0px;
}
a{
    text-decoration: none;
    color:  #06a11e;
    font-size: 1.2em;
}
div{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.463);
    background-color: white;
    border-radius: 10px;
}
p.ney{
    margin: -14px 0px 0px 5px;
    font-size: 1.1em;
}
div.nj{
    margin: 10px 10px 40px 10px;
    height: 340px;
}
p.pfl{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
}
div.dpfl{
    margin: 10px 10px 40px 10px;
    height: 360px;
}
p.fut{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
}
div.dfut{
    margin: 10px 10px 40px 10px;
}
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

