@charset "UTF-8";
body{
    background-color: rgb(235, 230, 230);
    height: 3775px;
 }
 header{
     margin-bottom: 20px;
     background-color: #262626;
     padding: 10px 0px 20px 0px;
     color: #BFBFBF;
     font-size: 1em;
 }
 .yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  menu{
    display: block;
  }

  menu > ul > li > a{
    display: block;
  }
  
 img{
     border-radius: 0px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     width: 100%;
     display: block;
     margin: 0px;
 }
 a{
     text-decoration: none;
     color:  #262626;
     font-size: 1.2em;
 }
 div{
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.463);
     background-color: white;
     border-radius: 10px;
 }
 p#ney{
    margin: -14px 0px 0px 5px;
    font-size: 1.1em;
}
div#nj{
    margin: 10px 10px 40px 10px;
    height: 340px;
}
p#pfl{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
}
div#dpfl{
    margin: 10px 10px 40px 10px;
    height: 350px;
}
p#fut{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
}
div#dfut{
    margin: 10px 10px 40px 10px;
    height: 400px;
}
p#fla{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
    text-align: left;
    width: 400px;
}
div#dfla{
    margin: 10px 10px 40px 10px;
    height: 350px;
}
#dtrump{
    margin: 10px 10px 40px 10px;
    height: 365px;
  }
  #trump{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
  }
  #dprime{
    margin: 10px 10px 40px 10px;
    height: 365px;
  }
  #prime{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
  }
  #demp{
    margin: 10px 10px 40px 10px;
    height: 390px;
  }
  #emp{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
  }
  #dten{
    margin: 10px 10px 40px 10px;
    height: 275px;
   }
   #ten{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
   }
   #dcal{
    margin: 10px 10px 40px 10px;
    height: 355px;
   }
   #cal{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
   }
   #dnov{
    margin: 10px 10px 40px 10px;
    height: 369px;
   }
   #nov{
    margin: -14px 0px 0px 0px;
    font-size: 1.1em;
    padding: 0px 5px 0px 5px;
   }