@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 97vw;
}
header{
    padding: 10px;
    text-align: center;
    height: 30px;
}
main{
    width: 90%;
    margin: auto;
   text-align: left;
}
h2{
    margin: 5px;
    font-size: 1.6em;
}
p{
    font-size: 1.3em;
    margin: 30px 0px;
}
.titulo{
    margin: 50px 5px 15px 5px;
}
img{
    margin: 10px 0px;
    width: 93%;
    border-radius: 10px;
}
h3.subtitulo{
    font-size: 0.9em;
    color: gray;
}
ul{
    font-size: 1.3em;
    list-style-position: inside;
}
.destaque{
    font-size: 1.5em;
    font-weight: bolder;
}
h3{
    font-size: 1.4em;
    font-weight: bolder;
}